.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: linear-gradient(135deg, #050088, #08719e);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 25px;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 10px;
    object-fit:cover;
}

.img {
    width: 300px;
    height: 300px;
}

.name {
    cursor: pointer;
    text-decoration: none;
    color: #855200;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease ;
}

.name :hover{
    transform: scale(1.1);
    color: #dc8904;
}
  
.name_container {
    height: 60px;
    margin-bottom: 0px;
}
  
.temps {
    height: 80px;
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
    font-weight: bold;
}

.temps_p {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    white-space:normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
  
.weight {
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
}