.container {
    background-color: hsla(241, 98%, 23%, 0.427);
    padding: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .buttons > * {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .buttons a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .opt {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .buttons a:hover {
    color: #ff8c00;
  }
  
  .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .search-bar input {
    padding: 5px;
  }
  
  .filters,
  .logout {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  .filter,
  .order {
    margin-right: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px 4px;
  }
  
  .logout a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .logout a:hover {
    color: #ff8c00;
  }